body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

li {
    list-style-type: none;
}

.icon {
    padding-left: 10px;
    padding-right: 10px;
    width: 54px;
    height: 80px;
    float: left;
}

.icon-text {
    font: 20px "Century Gothic", Futura, sans-serif;
    width: 136px;
}

.icon-block {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 90%;
    height: 100px;
    border: 2px solid #e3e3e3;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5%;
}

.small-icon-collection {
    height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
}
.small-icon-collection::-webkit-scrollbar {
    width: 2px;
    background: transparent;
}
.small-icon-collection::-webkit-scrollbar-thumb {
    background: #e3e3e3;
}

.small-x-button {
    float: right;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-left: auto;
    margin-right: 10px;
}

.sidepanel-label {
    font: 24px "Century Gothic", Futura, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

.sidepanel {
    width: 22vw;
}

.sidepanel-control-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 85%;
}

.sidepanel-undo {
    float: right;
    width: 30px;
    height: 25px;
}

.sidepanel-clear {
    width: 50px;
    height: 25px;
}

.watched-sidepanel {
    margin-left: auto;
}

.liked-sidepanel {
    margin-right: auto;
}

.content {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.bottom-bar {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.liked-toggle {
    height: 50px;
    width: 50px;
    margin-left: 8vw;
}

.watched-toggle {
    height: 50px;
    width: 50px;
    margin-right: 8vw;
}

.searchbar {
    height: 30px;
    width: 40vw;
}

.centre-panel {
    width: 40vw;
    height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
}
.centre-panel::-webkit-scrollbar {
    width: 2px;
    background: transparent;
}
.centre-panel::-webkit-scrollbar-thumb {
    background: #e3e3e3;
}

.trailer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}

.title {
    margin-bottom: 8px;
}

.rating {
    height: 20px;
    width: 108px;
}

.description {
    margin-top: 5px;
}