:root {
  --background-color: black;
  --primary-color: gold;
  --tertiary-color: goldenrod;
  --shadows: goldenrod;
  /* --background-color: #181818;
  --primary-color: lightblue;
  --tertiary-color: lightcyan;
  --shadows: lightblue; */

  --text-color: aliceblue;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

li {
  list-style-type: none;
}

.icon {
  padding-left: 10px;
  padding-right: 10px;
  width: 74px;
  height: 80px;
  float: left;
}

.icon-text {
  color: var(--text-color);
  font: 20px "Century Gothic", Futura, sans-serif;
  padding-right: 10px;
}

.icon-block {
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.panel-buttons {
  width: match-parent;
}
.small-movie-info {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 90%;
  height: 100px;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.small-icon-collection {
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  bottom: 60px;
  top: 75px;
  right: 10%;
  left: 5%;
}
.small-icon-collection::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}
.small-icon-collection::-webkit-scrollbar-thumb {
  background: #e3e3e3;
}

.small-x-button {
  float: right;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: auto;
  margin-right: 12px;
}

.sidepanel-label {
  color: var(--text-color);
  font: 24px "Century Gothic", Futura, sans-serif;
  font-weight: bold;
  text-shadow: 0px 0px 7px var(--shadows);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidepanel {
  box-shadow: 0px 10px 20px -6px var(--shadows);
  padding: 20px;
  border: 0.5px solid var(--tertiary-color);
  height: 100%;
  transition: all 0.3s ease-out;
}
.hide-sidepanel {
  display: none;
}

.sidepanel-clear {
  position: absolute;
  bottom: 10px;
  left: 10%;
}

.sidepanel-undo {
  position: absolute;
  bottom: 10px;
  right: 10%;
}

.content {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50px;
  bottom: 90px;
}

.bottom-bar {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.liked-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 8vw;
}
.liked-toggle .badge {
  position: absolute;
  top: -10px;
  right: -20px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  color: white;
}

.watched-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 8vw;
}

.searchbar {
  height: 30px;
  width: 40vw;
  color: #181818;
  border-radius: 10px;
}

.centre-panel {
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  color: var(--text-color);
  overflow-x: hidden;
  box-shadow: -2px 7px 35px -12px var(--shadows);
  border-radius: 10px;
  animation: fadeIn 1s;
}

.center-div {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0%;
  background: #181818;
  width: fit-content;
  width: -moz-fit-content;
  border-radius: 10px;
}
.overlay-component {
  z-index: 10;
}
.bottom-fix {
  position: absolute;
  right: 23%;
  bottom: 5%;
}
.transparent-item {
  opacity: 0.7;
  transition: all 0.3s;
}
.transparent-item:hover {
  opacity: 1;
}

.centre-panel::-webkit-scrollbar {
  width: 2px;
  background: transparent;
  display: none;
}
.centre-panel::-webkit-scrollbar-thumb {
  background: #e3e3e3;
}

.trailer {
  width: 100%;
  height: 100%;
  animation: fadeIn 5s;
  overflow: hidden;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
video {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.movie-info {
  position: absolute;
  overflow: scroll;
  bottom: 5%;
  max-height: 50%;
  width: 40%;
}
.movie-info::-webkit-scrollbar {
  display: none;
}
.title {
  margin: 20px 20px 0px 20px;
  font-size: 70px;
  font-weight: bolder;
}

.rating {
  height: 28px;
  width: 151px;
  margin-left: 20px;
  margin-top: 10px;
}

.description {
  margin: 10px 20px;
  font-size: large;
  font-weight: bold;
  color: aliceblue;
  line-height: 25px;
}

.centre-panel-controls {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
}

.like-button {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.dislike-button {
  width: 40px;
  height: 40px;
  margin-left: 30px;
}

.watch-button {
  font-size: large;
  font-weight: bold;
  color: var(--background-color);
}

.tab-bar {
  height: 30%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  z-index: 5;
  justify-content: space-between;
  overflow: hidden;
  border-bottom: 1px solid var(--tertiary-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.tablinks {
  flex-grow: 100;
  background-color: var(--background-color);
  color: var(--primary-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tablinks:hover {
  background-color: var(--tertiary-color);
  color: var(--background-color);
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  filter: brightness(75%);
  transition: 0.2s;
}
.clickable:active {
  transition: 0s;
  filter: brightness(60%);
}
.circle-button {
  border-radius: 100%;
}
.btn-large {
  font-size: 40px;
  width: 200px;
}
.horizontal-line {
  display: inline-block;
  border-bottom: 1px solid var(--tertiary-color);
  margin: 10px 0px;
  width: 150px;
}
.page {
  overflow: hidden;
  background: var(--background-color);
  height: 100vh;
  width: 100%;
}

.play-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  transition: all 0.2s ease-in;
}
.play-button:hover {
  opacity: 1;
}
.play-button:active {
  transition: 0s;
  filter: brightness(60%);
}

.small-rating {
  height: 14px;
  width: 75px;
}

.search-result-collection {
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100% - 60px);
  margin-right: 5%;
}
.search-result-collection::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}
.search-result-collection::-webkit-scrollbar-thumb {
  background: #e3e3e3;
}

.search-result-title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.search-result-button-collection {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-left: auto;
  margin-right: 15px;
}

.search-result-button {
  margin-top: 5px;
  margin-bottom: 5px;
  visibility: hidden;
}

.search-result {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: 90%;
  height: 100px;
  border: 2px solid #e3e3e3;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.search-result:hover {
  border: 3px solid #838383;
}

.search-result:hover .search-result-button {
  visibility: visible;
}

.hidden-video {
  display: hidden;
  height: 0;
  width: 0;
}