body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.icon {
    padding-left: 10px;
    padding-right: 10px;
    width: 54px;
    height: 80px;
    float: left;
}

.icon-text {
    font: 20px "Century Gothic", Futura, sans-serif;
}

.icon-block {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 250px;
    height: 100px;
    border: 2px solid #e3e3e3;
    border-radius: 10px;
}